<!DOCTYPE html>
<html>
<head>
  <title>NetMap Metrics Server</title>
  <%- assets.tag('/css/application.css') %>
  <%- assets.tag('/js/application.js') %>
</head>
<body>
  <h1>NetMap Metrics Server</h1>

  <p>General description</p>

  <section id="new-app-container">
    <h2>Create application</h2>
    <form id="new-app-form">
      <p class="field">
        <label for="new-app-name">App Name</label>
        <input type="text" required="required" name="name" id="new-app-name" />
      </p>
      <p class="field">
        <label for="new-app-url">Backend URL</label>
        <input type="url" required="required" name="url" id="new-app-url" />
      </p>
      <p class="field">
        <label for="new-app-email">Email</label>
        <input type="email" required="required" name="email"
               id="new-app-email" />
      </p>
      <p class="action">
        <button type="button" id="new-app-button">Create App</button>
      </p>
    </form>

    <section id="new-app-response" class="hidden">
      <h3>New application data</h3>
      <p class="field">
        <span>App ID</span>
        <span id="new-app-id"></span>
      </p>
      <p class="field">
        <span>App Secret</span>
        <span id="new-app-secret"></span>
      </p>
      <p class="action">
        <button type="button" id="new-app-hide-button">Hide Info</button>
      </p>
    </section>
  </section>

  <section id="edit-app-container">
    <h2>Amend application</h2>

    <form id="app-lookup-form">
      <p class="field">
        <label for="app-lookup-id">App ID</label>
        <input type="text" required="required" name="id"
               id="app-lookup-id" />
      </p>
      <p class="field">
        <label for="app-lookup-secret">App Secret</label>
        <input type="text" required="required" name="secret"
               id="app-lookup-secret" />
      </p>
      <p class="action">
        <button type="button" id="app-lookup-button">Lookup</button>
      </p>
    </form>

    <section id="app-lookup-response" class="hidden">
      <form id="edit-app-form">
        <input type="hidden" name="id" id="edit-app-id" />
        <input type="hidden" name="secret" id="edit-app-secret" />
        <p class="field">
          <label for="edit-app-name">App Name</label>
          <input type="text" required="required" name="name"
                 id="edit-app-name" />
        </p>
        <p class="field">
          <label for="new-app-url">Backend URL</label>
          <input type="url" required="required" name="url"
                 id="edit-app-url" />
        </p>
        <p class="field">
          <label for="new-app-email">Email</label>
          <input type="email" required="required" name="email"
                 id="edit-app-email" />
        </p>
        <p class="action">
          <button type="button" id="edit-app-button">Update App</button>
        </p>
      </form>
    </section>
  </section>
</body>
</html>
