<!DOCTYPE html>
<html>
<head>
  <title>NetMap Metrics Server</title>
  <%- assets.tag('/css/application.css') %>
  <%- assets.tag('/js/application.js') %>
</head>
<body>
  <h1>NetMap Metrics Server</h1>

  <p>General description</p>

  <% include _new_app %>
  <% include _edit_app %>
  <% include _uid_create %>
  <% include _reading_upload %>
</body>
</html>
